@font-face {
  font-family: "TildaSansExtraBold";
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-ExtraBold/TildaSans-ExtraBold.eot");
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-ExtraBold/TildaSans-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/TildaSans.07Web/TildaSans-ExtraBold/TildaSans-ExtraBold.woff2")
      format("woff2"),
    url("./assets/fonts/TildaSans.07Web/TildaSans-ExtraBold/TildaSans-ExtraBold.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TildaSansBold";
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-Bold/TildaSans-Bold.eot");
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-Bold/TildaSans-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/TildaSans.07Web/TildaSans-Bold/TildaSans-Bold.woff2")
      format("woff2"),
    url("./assets/fonts/TildaSans.07Web/TildaSans-Bold/TildaSans-Bold.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TildaSansRegular";
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-Regular/TildaSans-Regular.eot");
  src: url("./assets/fonts/TildaSans.07Web/TildaSans-Regular/TildaSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/TildaSans.07Web/TildaSans-Regular/TildaSans-Regular.woff2")
      format("woff2"),
    url("./assets/fonts/TildaSans.07Web/TildaSans-Regular/TildaSans-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

$header: #000;
/*заголовки*/
$text: #324665;
/*тексты*/
$btn: #bc2525;
/*кнопки*/
$btn-text: #f1f5fa;
/*текст кнопок*/
$background: #f9f6f1;
/*фон блоков 2,3,5*/

$font: "TildaSansBold";
$font2: "TildaSansExtraBold";
$font3: "TildaSansRegular";
$font2: "TildaSansExtraBold";
$font3: "TildaSansRegular";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// html {
//   font-size: 100%;

//   @media screen and (max-width: 900px) {
//     font-size: 90%;
//   }

//   @media screen and (max-width: 700px) {
//     font-size: 80%;
//   }

//   @media screen and (max-width: 500px) {
//     font-size: 70%;
//   }

//   @media screen and (max-width: 400px) {
//     font-size: 60%;
//   } /*не работает с указанным размером шрифта*/
// }

body {
  display: flex;
  flex-direction: column;
  height: 312.5rem;

  @media (max-width: 900px) {
    height: 500rem;
    /*эту величину поставила для теста своего блока*/
  }
}
.main {
  display: flex;
  flex-basis: 94.05%;
  flex-direction: column;
} /*просто блок перенесла выше*/

.container {
  max-width: 1140px;
  min-width: 320px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  @media screen and (max-width: 1088px) {
    max-width: 888px;
  }
  @media screen and (max-width: 919px) {
    max-width: 719px;
  }
}

.button {
  padding: 0.75rem 2.5rem;
  border-radius: 1.5625rem;
  background: $btn;
  border: none;
  backdrop-filter: blur(16px);
  color: $btn-text;
  font-family: $font;
  font-size: 1.125rem;
  font-style: normal;
  line-height: normal;
}

.button:hover {
  background: #d72424;
}

/* header start */
.header {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  // padding: 3.5rem 1rem 3.5rem 0;

  @media screen and (max-width: 769px) {
    // padding: 2rem 1rem 2rem 0;
  }
}

.header__logo {
  align-self: center;

  @media screen and (max-width: 769px) {
    order: 1;
  }
}

.header__img {
  width: 4rem;

  @media screen and (max-width: 769px) {
    width: 5rem;
  }
}

.header__nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  overflow: hidden;

  @media screen and (max-width: 769px) {
    margin-top: 19rem; //26; 4rem
  }
  @media screen and (max-width: 361px) {
    margin-top: 20rem; //4rem
  }
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  // width: 40%;

  @media screen and (max-width: 769px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40%;
  }

  @media screen and (max-width: 361px) {
    padding-left: 30%;
  }
}

.header a {
  text-decoration: none;
}

.header__item {
  list-style: none;
  font-family: $font2;
}

.header__link {
  display: block;
  padding: 30px;
  color: $header;
  text-align: center;
  // width: 8rem;
}

.header__link:hover {
  color: $btn;
}

.header__nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
.header__hamb {
  cursor: pointer;
  float: left;
  padding: 23px;
} /* Style label tag */

.header__hamb-line {
  background: $text;
  border-radius: 0.1875rem;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
} /* Style span tag */

.header__hamb-line::before,
.header__hamb-line::after {
  background: $text;
  border-radius: 0.1875rem;
  content: "";
  display: block;
  height: 110%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.header__hamb-line::before {
  top: 5px;
}
.header__hamb-line::after {
  top: -5px;
}

.header__side-menu {
  display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.header__side-menu:checked ~ .header__nav {
  max-height: 100%;
}
.header__side-menu:checked ~ .header__hamb .header__hamb-line {
  background: transparent;
}
.header__side-menu:checked ~ .header__hamb .header__hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.header__side-menu:checked ~ .header__hamb .header__hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

@media screen and (min-width: 769px) {
  .header__nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
  }

  .header__item {
    float: left;
  }

  .header__link:hover {
    background-color: transparent;
    color: $btn;
  }

  .header__hamb {
    display: none;
  }
}

/* button */
.header__btn-container {
  @media screen and (max-width: 769px) {
    order: 2;
  }
}

.header__btn {
  display: inline-block;
  color: $btn-text;
  /* margin: 0 14px 0 12px; */
}
/* header end */
